h1 {
  display: flex;
  justify-content: center;
  color: aqua;
  font-family: "Helvetica", sans-serif;
}
div#header {
  padding: 10px;
}
div#duration {
  margin-bottom: 15px;
}
div#buttons {
  margin-bottom: 45px;
}
body {
  font-family: "Helvetica", sans-serif;
  background-color: #323437;
  color: #ffffff;
  font-size: 45px;
  width: 75%;
  margin: 50px auto;
}
p {
  color: #d1d0c5;
}

div.word {
  display: inline-block;
  font-family: "Helvetica", monospace;
  margin: 0 7px;
}

#newGameButton {
  border: none;
  border-radius: 5px;
  font-size: 35px;
  padding: 25px 35px;
  box-shadow: 0px 0px 15px 4px black;
  cursor: pointer;
}

div#playbuttons {
  display: flex;
  justify-content: center;
}
#playGameButton {
  border: none;
  border-radius: 5px;
  font-size: 55px;
  padding: 25px 35px;
  box-shadow: 0px 0px 15px 4px black;
  cursor: pointer;
}

.letter {
  text-shadow: 1px 1px 8px black;
  padding: 2px;
  color: #6e6e64;
  transition: all 0.2s ease;
}

.letter.correct {
  color: #ffffff;
  transform: translateY(-2px);
}
.letter.incorrect {
  color: rgb(255, 0, 0);
  transform: translateY(2px);
}
