/*learnt how to define colours as variable instead of typing the same colour each time: https://stackoverflow.com/questions/1875852/how-can-i-define-colors-as-variables-in-css */
:root {
  --main-text: #d1d0c5;
  --typed-text: ;
}

h1 {
  display: flex;
  justify-content: center;
  color: aqua;
}
body {
  display: flex;

  flex-direction: column;

  background-color: #323437;
}
p {
  color: var(--main-text);
}
